<%- include('../template/header.ejs') %>

    <div class="notfound">
        <img src="../../public/img/sad blue bird 1.png" alt="" class="bird">
        <div class="notfound-404">
            <h2>Oops! Vous êtes perdus :(</h2>
            <h1 class="title404"><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>La requête demandée ne peut aboutir.</h2>
    </div>