<%- include('../template/header.ejs') %>
    <div class="containerTotal">
        <%- include('../template/nav.ejs') %>

            <div class="actu"></div>

            <div class="containerSearch">
                <input type="search" id="site-search" placeholder="Rechercher sur twitter" />
            </div>
    </div>
    <%- include('../template/footer.ejs') %>