<nav class="navAccueil">
    <ul class="linkNav">
        <li>
            <img src="../../public/img/Twitter_icon-icons.com_66803.png" height="50px" width="50px" alt="" />
        </li>
        <li>
            <img src="../../public/favIcon/home-solid.svg" alt="" href="/accueil" class="iconNav" /><a href="../accueil">Accueil</a>
        </li>
        <li>
            <img src="../../public/favIcon/user-alt-solid.svg" alt="" class="iconNav" /><a href="/profil">Profil</a>
        </li>
        <li>
            <img src="../../public/favIcon/envelope-solid.svg" alt="" class="iconNav" /><a href="/messagerie">Message</a>
        </li>
        <li>
            <img src="../../public/favIcon/sign-out-alt-solid.svg" alt="" class="iconNav" /><a href="/logout">Logout</a>
        </li>
    </ul>
</nav>